[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jy-977
[access "refs/for/refs/*"]
	read = group user/jy-977
	push = group user/jy-977
	label-Code-Review = -2..+2 group user/jy-977
	label-Verified = -1..+1 group user/jy-977
	rebase = group user/jy-977
	removeReviewer = group user/jy-977
	submit = group user/jy-977
[access "refs/heads/*"]
	read = group user/jy-977
	create = group user/jy-977
	push = +force group user/jy-977
	pushMerge = group user/jy-977
[access "refs/tags/*"]
	push = group user/jy-977
	push = +force group user/jy-977
